body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #d11e1e;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    min-height: calc(100vh - 120px);
}

.contenedor-carrito {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.contenedor-carrito h2 {
    font-size: 32px;
    color: #d11e1e;
    margin-bottom: 20px;
}

.contenido-carrito {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}


.contenido-carrito p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.btn-vaciar-carrito {
    padding: 10px 20px;
    background-color: #d11e1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.footer {
    background-image: linear-gradient(to right, #d11e1e, #ff6666);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}